## Goal:
The goal of this assignment is to explore the concept of bias through data on Wikipedia articles - specifically, articles on political figures from a variety of countries.

To do this, we will combine a data set of wiki articles with country populations, and then use an ML service to estimate quality of each article

In [84]:
import pandas as pd
import requests

## Step 1
Getting the article & population data

In [237]:
#Population data data
#This dataset is drawn from the world population data sheet published by the Population Reference Bureau.https://www.prb.org/international/indicator/population/table/
WPDS_data = pd.read_csv("WPDS_2020_data.csv")

#Article data
#This data set is available on figshare https://figshare.com/articles/dataset/Untitled_Item/5513449
#I downloaded the data & it can be found in this guthub repo
page_data = pd.read_csv("page_data.csv")

## Step 2
Data Cleaning

the dataset contains some page names that start with the string "Template:". These pages are not Wikipedia articles, and should not be included in your analysis.

In [182]:
page_data = page_data[page_data["page"].str.contains("Template:")!=True].reset_index()

WPDS_2020_data.csv contains some rows that provide cumulative regional population counts, rather than country-level counts. These rows are distinguished by having ALL CAPS values in the 'geography' field (e.g. AFRICA, OCEANIA). These rows won't match the country values in page_data.csv, but you will want to retain them (either in the original file, or a separate file) so that you can report coverage and quality by region in the analysis section.

In [183]:
WPDS_data_country = WPDS_data[WPDS_data["Type"]=="Country"].reset_index()

## Step 3
Getting Article Quality Prediction

In [16]:
page_data

,index,page,country,rev_id
0,1,Bir I of Kanem,Chad,355319463
1,10,Information Minister of the Palestinian Nation...,Palestinian Territory,393276188
2,12,Yos Por,Cambodia,393822005
3,23,Julius Gregr,Czech Republic,395521877
4,24,Edvard Gregr,Czech Republic,395526568
...,...,...,...,...
46696,47192,Yahya Jammeh,Gambia,807482007
46697,47193,Lucius Fairchild,United States,807483006
46698,47194,Fahd of Saudi Arabia,Saudi Arabia,807483153
46699,47195,Francis Fessenden,United States,807483270
46700,47196,Ajay Kannoujiya,India,807484325

In [86]:
# iterate through each rev_id, and call API to get prediction of article quality
rev_ids = []
predictions =[]
log_rev_ids_missing_predictions=[]
for batch in range(len(page_data["rev_id"])//50+1):
    print(50*batch)
    batch_ids = page_data["rev_id"][50*batch:50*batch+50]
    rev_id = "|".join(str(x) for x in batch_ids)
    url = 'https://ores.wikimedia.org/v3/scores/enwiki?models=articlequality&revids={rev_id}'
    call = requests.get(url.format(rev_id=rev_id))
    response = call.json()
    
    for i in batch_ids:
        try:
            prediction = response["enwiki"]["scores"][str(i)]["articlequality"]["score"]["prediction"]
            rev_ids.append(i)
            predictions.append(prediction)
        except KeyError:
            log_rev_ids_missing_predictions.append(i)

0
50
100
150
200
250
300
350
400
450
500
550
600
650
700
750
800
850
900
950
1000
1050
1100
1150
1200
1250
1300
1350
1400
1450
1500
1550
1600
1650
1700
1750
1800
1850
1900
1950
2000
2050
2100
2150
2200
2250
2300
2350
2400
2450
2500
2550
2600
2650
2700
2750
2800
2850
2900
2950
3000
3050
3100
3150
3200
3250
3300
3350
3400
3450
3500
3550
3600
3650
3700
3750
3800
3850
3900
3950
4000
4050
4100
4150
4200
4250
4300
4350
4400
4450
4500
4550
4600
4650
4700
4750
4800
4850
4900
4950
5000
5050
5100
5150
5200
5250
5300
5350
5400
5450
5500
5550
5600
5650
5700
5750
5800
5850
5900
5950
6000
6050
6100
6150
6200
6250
6300
6350
6400
6450
6500
6550
6600
6650
6700
6750
6800
6850
6900
6950
7000
7050
7100
7150
7200
7250
7300
7350
7400
7450
7500
7550
7600
7650
7700
7750
7800
7850
7900
7950
8000
8050
8100
8150
8200
8250
8300
8350
8400
8450
8500
8550
8600
8650
8700
8750
8800
8850
8900
8950
9000
9050
9100
9150
9200
9250
9300
9350
9400
9450
9500
9550
9600
9650
9700
9750
9800
9850
9900
9950
10000
10050
10100
10150
10200
10250
10300
10350
10400
10450
10500
10550
10600
10650
10700
10750
10800
10850
10900
10950
11000
11050
11100
11150
11200
11250
11300
11350
11400
11450
11500
11550
11600
11650
11700
11750
11800
11850
11900
11950
12000
12050
12100
12150
12200
12250
12300
12350
12400
12450
12500
12550
12600
12650
12700
12750
12800
12850
12900
12950
13000
13050
13100
13150
13200
13250
13300
13350
13400
13450
13500
13550
13600
13650
13700
13750
13800
13850
13900
13950
14000
14050
14100
14150
14200
14250
14300
14350
14400
14450
14500
14550
14600
14650
14700
14750
14800
14850
14900
14950
15000
15050
15100
15150
15200
15250
15300
15350
15400
15450
15500
15550
15600
15650
15700
15750
15800
15850
15900
15950
16000
16050
16100
16150
16200
16250
16300
16350
16400
16450
16500
16550
16600
16650
16700
16750
16800
16850
16900
16950
17000
17050
17100
17150
17200
17250
17300
17350
17400
17450
17500
17550
17600
17650
17700
17750
17800
17850
17900
17950
18000
18050
18100
18150
18200
18250
18300
18350
18400
18450
18500
18550
18600
18650
18700
18750
18800
18850
18900
18950
19000
19050
19100
19150
19200
19250
19300
19350
19400
19450
19500
19550
19600
19650
19700
19750
19800
19850
19900
19950
20000
20050
20100
20150
20200
20250
20300
20350
20400
20450
20500
20550
20600
20650
20700
20750
20800
20850
20900
20950
21000
21050
21100
21150
21200
21250
21300
21350
21400
21450
21500
21550
21600
21650
21700
21750
21800
21850
21900
21950
22000
22050
22100
22150
22200
22250
22300
22350
22400
22450
22500
22550
22600
22650
22700
22750
22800
22850
22900
22950
23000
23050
23100
23150
23200
23250
23300
23350
23400
23450
23500
23550
23600
23650
23700
23750
23800
23850
23900
23950
24000
24050
24100
24150
24200
24250
24300
24350
24400
24450
24500
24550
24600
24650
24700
24750
24800
24850
24900
24950
25000
25050
25100
25150
25200
25250
25300
25350
25400
25450
25500
25550
25600
25650
25700
25750
25800
25850
25900
25950
26000
26050
26100
26150
26200
26250
26300
26350
26400
26450
26500
26550
26600
26650
26700
26750
26800
26850
26900
26950
27000
27050
27100
27150
27200
27250
27300
27350
27400
27450
27500
27550
27600
27650
27700
27750
27800
27850
27900
27950
28000
28050
28100
28150
28200
28250
28300
28350
28400
28450
28500
28550
28600
28650
28700
28750
28800
28850
28900
28950
29000
29050
29100
29150
29200
29250
29300
29350
29400
29450
29500
29550
29600
29650
29700
29750
29800
29850
29900
29950
30000
30050
30100
30150
30200
30250
30300
30350
30400
30450
30500
30550
30600
30650
30700
30750
30800
30850
30900
30950
31000
31050
31100
31150
31200
31250
31300
31350
31400
31450
31500
31550
31600
31650
31700
31750
31800
31850
31900
31950
32000
32050
32100
32150
32200
32250
32300
32350
32400
32450
32500
32550
32600
32650
32700
32750
32800
32850
32900
32950
33000
33050
33100
33150
33200
33250
33300
33350
33400
33450
33500
33550
33600
33650
33700
33750
33800
33850
33900
33950
34000
34050
34100
34150
34200
34250
34300
34350
34400
34450
34500
34550
34600
34650
34700
34750
34800
34850
34900
34950
35000
35050
35100
35150
35200
35250
35300
35350
35400
35450
35500
35550
35600
35650
35700
35750
35800
35850
35900
35950
36000
36050
36100
36150
36200
36250
36300
36350
36400
36450
36500
36550
36600
36650
36700
36750
36800
36850
36900
36950
37000
37050
37100
37150
37200
37250
37300
37350
37400
37450
37500
37550
37600
37650
37700
37750
37800
37850
37900
37950
38000
38050
38100
38150
38200
38250
38300
38350
38400
38450
38500
38550
38600
38650
38700
38750
38800
38850
38900
38950
39000
39050
39100
39150
39200
39250
39300
39350
39400
39450
39500
39550
39600
39650
39700
39750
39800
39850
39900
39950
40000
40050
40100
40150
40200
40250
40300
40350
40400
40450
40500
40550
40600
40650
40700
40750
40800
40850
40900
40950
41000
41050
41100
41150
41200
41250
41300
41350
41400
41450
41500
41550
41600
41650
41700
41750
41800
41850
41900
41950
42000
42050
42100
42150
42200
42250
42300
42350
42400
42450
42500
42550
42600
42650
42700
42750
42800
42850
42900
42950
43000
43050
43100
43150
43200
43250
43300
43350
43400
43450
43500
43550
43600
43650
43700
43750
43800
43850
43900
43950
44000
44050
44100
44150
44200
44250
44300
44350
44400
44450
44500
44550
44600
44650
44700
44750
44800
44850
44900
44950
45000
45050
45100
45150
45200
45250
45300
45350
45400
45450
45500
45550
45600
45650
45700
45750
45800
45850
45900
45950
46000
46050
46100
46150
46200
46250
46300
46350
46400
46450
46500
46550
46600
46650
46700

In [184]:
article_quality= pd.DataFrame({'rev_id':rev_ids,
                   'article_quality_estimate':predictions})

## Step 4 Combining the datasets

In [185]:
page_data["rev_id"] = page_data["rev_id"].apply(str)
article_quality["rev_id"] = article_quality["rev_id"].apply(str)

In [186]:
page_data = page_data.merge(article_quality,
                how = "inner",
                on = "rev_id"
               )

In [187]:
joined = page_data.merge(WPDS_data_country,
                how = "outer",
                left_on = "country",
                right_on = "Name"
               )

there are a couple of edge cases - 
either the population dataset does not have an entry for the equivalent Wikipedia country, or vise versa.

In [188]:
joined

,index_x,page,country,rev_id,article_quality_estimate,index_y,FIPS,Name,Type,TimeFrame,Data (M),Population
0,1.0,Bir I of Kanem,Chad,355319463,Stub,52.0,TD,Chad,Country,2019.0,16.877,16877000.0
1,122.0,Abdullah II of Kanem,Chad,498683267,Stub,52.0,TD,Chad,Country,2019.0,16.877,16877000.0
2,260.0,Salmama II of Kanem,Chad,565745353,Stub,52.0,TD,Chad,Country,2019.0,16.877,16877000.0
3,261.0,Kuri I of Kanem,Chad,565745365,Stub,52.0,TD,Chad,Country,2019.0,16.877,16877000.0
4,262.0,Mohammed I of Kanem,Chad,565745375,Stub,52.0,TD,Chad,Country,2019.0,16.877,16877000.0
...,...,...,...,...,...,...,...,...,...,...,...,...
46446,NaN,NaN,NaN,NaN,NaN,220.0,PF,French Polynesia,Country,2019.0,0.280,280000.0
46447,NaN,NaN,NaN,NaN,NaN,221.0,GU,Guam,Country,2019.0,0.175,175000.0
46448,NaN,NaN,NaN,NaN,NaN,225.0,NC,New Caledonia,Country,2019.0,0.295,295000.0
46449,NaN,NaN,NaN,NaN,NaN,227.0,PW,Palau,Country,2019.0,0.018,18000.0
46450,NaN,NaN,NaN,NaN,NaN,229.0,WS,Samoa,Country,2019.0,0.200,200000.0

In [189]:
wp_wpds_countries_no_match = joined[(joined["country"].isnull())|(joined["Name"].isnull())]

In [190]:
wp_wpds_countries_no_match.to_csv("wp_wpds_countries-no_match.csv")

In [191]:
wp_wpds_politicians_by_country = joined[(joined["country"].isnull()==False)&(joined["Name"].isnull()==False)]

In [192]:
page_data

,index,page,country,rev_id,article_quality_estimate
0,1,Bir I of Kanem,Chad,355319463,Stub
1,10,Information Minister of the Palestinian Nation...,Palestinian Territory,393276188,Stub
2,12,Yos Por,Cambodia,393822005,Stub
3,23,Julius Gregr,Czech Republic,395521877,Stub
4,24,Edvard Gregr,Czech Republic,395526568,Stub
...,...,...,...,...,...
46420,47191,Hal Bidlack,United States,807481636,C
46421,47192,Yahya Jammeh,Gambia,807482007,GA
46422,47193,Lucius Fairchild,United States,807483006,C
46423,47194,Fahd of Saudi Arabia,Saudi Arabia,807483153,GA
46424,47195,Francis Fessenden,United States,807483270,C

In [194]:
wp_wpds_politicians_by_country.columns = ['index_x', 'article_name', 'country', 'revision_id', 'article_quality_est.',
       'index_y', 'FIPS', 'Name', 'Type', 'TimeFrame', 'Data (M)',
       'population']

In [195]:
wp_wpds_politicians_by_country = wp_wpds_politicians_by_country[["country","article_name","revision_id","article_quality_est.","population"]]
wp_wpds_politicians_by_country.to_csv("wp_wpds_politicians_by_country.csv")

In [196]:
wp_wpds_politicians_by_country

,country,article_name,revision_id,article_quality_est.,population
0,Chad,Bir I of Kanem,355319463,Stub,16877000.0
1,Chad,Abdullah II of Kanem,498683267,Stub,16877000.0
2,Chad,Salmama II of Kanem,565745353,Stub,16877000.0
3,Chad,Kuri I of Kanem,565745365,Stub,16877000.0
4,Chad,Mohammed I of Kanem,565745375,Stub,16877000.0
...,...,...,...,...,...
46414,Seychelles,Rita Sinon,800323154,Stub,98000.0
46415,Seychelles,Sylvette Frichot,800323798,Stub,98000.0
46416,Seychelles,May De Silva,800969960,Start,98000.0
46417,Seychelles,Vincent Meriton,802051093,Stub,98000.0
46418,Seychelles,Marie-Louise Potter,804209620,Stub,98000.0

## Step 5 Analysis

articles-per-population and high-quality articles for each country AND for each geographic region. By "high quality" articles, in this case we mean the number of articles about politicians in a given country that ORES predicted would be in either the "FA" (featured article) or "GA" (good article) classes.

In [197]:
wp_wpds_politicians_by_country["article_quality_est."].value_counts()

Stub     23325
Start    13857
C         5662
GA         747
B          696
FA         281
Name: article_quality_est., dtype: int64

#### Articles per population
Number of articles in each country divided by population in that country

In [217]:
articles_per_population = wp_wpds_politicians_by_country.groupby(["country"]).apply(lambda s: (s.article_name.count()/s.population.max())*100)
articles_per_population

country
Afghanistan    0.000819
Albania        0.016068
Algeria        0.000262
Andorra        0.041463
Angola         0.000326
                 ...
Venezuela      0.000454
Vietnam        0.000194
Yemen          0.000389
Zambia         0.000136
Zimbabwe       0.001097
Length: 183, dtype: float64

#### High Quality Articles

In [199]:
wp_wpds_politicians_by_country["hq"]= (wp_wpds_politicians_by_country["article_quality_est."]=="FA")|(wp_wpds_politicians_by_country["article_quality_est."]=="GA")

In [200]:
hq_articles = wp_wpds_politicians_by_country.groupby(["country"]).apply(lambda s: (s.hq.sum()/s.article_name.count())*100)
hq_articles

country
Afghanistan    4.075235
Albania        0.657895
Algeria        1.724138
Andorra        0.000000
Angola         0.000000
                 ...
Venezuela      2.307692
Vietnam        6.951872
Yemen          2.586207
Zambia         0.000000
Zimbabwe       1.226994
Length: 183, dtype: float64

## Step 6:

#### Top 10 countries by coverage: 10 highest-ranked countries in terms of number of politician articles as a proportion of country population

In [222]:
articles_per_population.to_frame("articles_per_pop_pct").reset_index().sort_values("articles_per_pop_pct").head(10)

          country  articles_per_pop_pct
71          India              0.000069
72      Indonesia              0.000077
34          China              0.000081
176    Uzbekistan              0.000082
51       Ethiopia              0.000088
181        Zambia              0.000136
84   Korea, North              0.000140
162      Thailand              0.000168
114    Mozambique              0.000186
13     Bangladesh              0.000187

#### Bottom 10 countries by coverage: 10 lowest-ranked countries in terms of number of politician articles as a proportion of country population

In [231]:
articles_per_population.to_frame("articles_per_pop_pct").reset_index().sort_values("articles_per_pop_pct",ascending = False).head(10)

                            country  articles_per_pop_pct
169                          Tuvalu              0.540000
117                           Nauru              0.472727
138                      San Marino              0.238235
110                          Monaco              0.105263
95                    Liechtenstein              0.071795
104                Marshall Islands              0.064912
164                           Tonga              0.063636
70                          Iceland              0.054620
3                           Andorra              0.041463
52   Federated States of Micronesia              0.033962

#### Top 10 countries by relative quality: 10 highest-ranked countries in terms of the relative proportion of politician articles that are of GA and FA-quality

In [233]:
hq_articles.to_frame("hq_articles_pct").reset_index().sort_values("hq_articles_pct",ascending = False).head(10)

                      country  hq_articles_pct
84               Korea, North        22.222222
140              Saudi Arabia        12.820513
135                   Romania        12.244898
31   Central African Republic        12.121212
176                Uzbekistan        10.714286
106                Mauritania        10.416667
64                  Guatemala         8.433735
44                   Dominica         8.333333
158                     Syria         7.812500
18                      Benin         7.692308

#### Bottom 10 countries by relative quality: 10 lowest-ranked countries in terms of the relative proportion of politician articles that are of GA and FA-quality

In [234]:
hq_articles.to_frame("hq_articles_pct").reset_index().sort_values("hq_articles_pct",ascending = True).head(10)

             country  hq_articles_pct
148  Solomon Islands              0.0
164            Tonga              0.0
117            Nauru              0.0
116          Namibia              0.0
43          Djibouti              0.0
114       Mozambique              0.0
110           Monaco              0.0
49           Eritrea              0.0
50           Estonia              0.0
109          Moldova              0.0

Alot of the countries have 0 high quality articles, 
we can also look at the bottom 10 that have atleast 1 hq article

In [236]:
temp = hq_articles.to_frame("hq_articles_pct").reset_index()
temp[temp["hq_articles_pct"]>0].sort_values("hq_articles_pct",ascending = True).head(10)

         country  hq_articles_pct
16       Belgium         0.192678
161     Tanzania         0.247525
157  Switzerland         0.248756
118        Nepal         0.280899
130         Peru         0.285714
123      Nigeria         0.295858
133     Portugal         0.314465
35      Colombia         0.350877
96     Lithuania         0.409836
113      Morocco         0.485437

In [248]:
#To answer the next 2 questions, we need a country region mapping
WPDS_data = pd.read_csv("WPDS_2020_data.csv")

In [249]:
region = WPDS_data["Type"]
name = WPDS_data["Name"]
population = WPDS_data["Population"]
regions_country = {}
regions_population ={}

In [250]:
for r,n,p in zip(region,name,population):
    if r=="Sub-Region":
        regions_country[n]=[]
        current_region = n
        regions_population[n]=p
    if r=="Country":
        if current_region!= None:
            regions_country[current_region].append(n)

In [255]:
# create country. ->region mapping
country_region ={}
for region,countries in regions_country.items():
    for country in countries:
        country_region[country]=region

In [261]:
wp_wpds_politicians_by_country["region"] = wp_wpds_politicians_by_country["country"].replace(country_region)

In [262]:
wp_wpds_politicians_by_country["region_population"] = wp_wpds_politicians_by_country["region"].replace(regions_population)

In [263]:
wp_wpds_politicians_by_country

,country,article_name,revision_id,article_quality_est.,population,hq,region,region_population
0,Chad,Bir I of Kanem,355319463,Stub,16877000.0,False,MIDDLE AFRICA,179757000
1,Chad,Abdullah II of Kanem,498683267,Stub,16877000.0,False,MIDDLE AFRICA,179757000
2,Chad,Salmama II of Kanem,565745353,Stub,16877000.0,False,MIDDLE AFRICA,179757000
3,Chad,Kuri I of Kanem,565745365,Stub,16877000.0,False,MIDDLE AFRICA,179757000
4,Chad,Mohammed I of Kanem,565745375,Stub,16877000.0,False,MIDDLE AFRICA,179757000
...,...,...,...,...,...,...,...,...
46414,Seychelles,Rita Sinon,800323154,Stub,98000.0,False,EASTERN AFRICA,444970000
46415,Seychelles,Sylvette Frichot,800323798,Stub,98000.0,False,EASTERN AFRICA,444970000
46416,Seychelles,May De Silva,800969960,Start,98000.0,False,EASTERN AFRICA,444970000
46417,Seychelles,Vincent Meriton,802051093,Stub,98000.0,False,EASTERN AFRICA,444970000
46418,Seychelles,Marie-Louise Potter,804209620,Stub,98000.0,False,EASTERN AFRICA,444970000

#### Geographic regions by coverage: Ranking of geographic regions (in descending order) in terms of the total count of politician articles from countries in each region as a proportion of total regional population

In [269]:
wp_wpds_politicians_by_country.groupby(["region"]).apply(lambda s: (s.article_name.count()/s.population.max())*100).to_frame("articles_per_regional_pop_pct").sort_values("articles_per_regional_pop_pct",ascending = False)

                  articles_per_regional_pop_pct
region
OCEANIA                                0.012138
SOUTHERN EUROPE                        0.006153
CARIBBEAN                              0.006095
Channel Islands                        0.005603
WESTERN EUROPE                         0.005474
WESTERN ASIA                           0.003061
EASTERN EUROPE                         0.002543
EASTERN AFRICA                         0.002177
MIDDLE AFRICA                          0.002045
SOUTH AMERICA                          0.001431
CENTRAL AMERICA                        0.001207
SOUTHERN AFRICA                        0.001063
WESTERN AFRICA                         0.001038
NORTHERN AFRICA                        0.000892
SOUTHEAST ASIA                         0.000743
CENTRAL ASIA                           0.000717
NORTHERN AMERICA                       0.000576
SOUTH ASIA                             0.000312
EAST ASIA                              0.000176

#### Geographic regions by coverage: Ranking of geographic regions (in descending order) in terms of the relative proportion of politician articles from countries in each region that are of GA and FA-quality

In [271]:
wp_wpds_politicians_by_country.groupby(["region"]).apply(lambda s: (s.hq.sum()/s.article_name.count())*100).to_frame("hq_articles_regional_pct").sort_values("hq_articles_regional_pct",ascending = False)

                  hq_articles_regional_pct
region
NORTHERN AMERICA                  5.470805
SOUTHEAST ASIA                    3.613861
WESTERN ASIA                      3.472493
EASTERN EUROPE                    3.161844
EAST ASIA                         3.073190
CENTRAL ASIA                      2.857143
Channel Islands                   2.710603
MIDDLE AFRICA                     2.406015
NORTHERN AFRICA                   2.113459
OCEANIA                           2.015355
SOUTHERN EUROPE                   1.994609
CARIBBEAN                         1.870504
WESTERN AFRICA                    1.870033
SOUTH ASIA                        1.626202
CENTRAL AMERICA                   1.490603
SOUTHERN AFRICA                   1.419558
EASTERN AFRICA                    1.398881
SOUTH AMERICA                     1.319261
WESTERN EUROPE                    1.228070